/* Panier */
.cart {
    position: relative;
}

.cart i {
    font-size: 1.5em;
    color: black !important;
}

.user i {
    font-size: 1.2em;
    color: rgb(78, 78, 78) !important;
}
.cart-notif {
    position: absolute;
    top: -50% !important;
    right: -10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    line-height: 18px;
    background: green;
    color: white;
    text-align: center;
    border: 2px solid white;
    font-size: 12px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14),
        0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.box-shadow {
    box-shadow: 0px 0px 15px rgb(17, 17, 17) !important;
}

.bouton-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    margin-left:1rem ;
    margin-right: 1rem;
}

.bouton-add input {
    padding: .7rem 1.8rem;
    width: 80px;
}

.bouton-add button {
    width: 100%;
    background: #27ae60;
    border-radius: .5rem;
    color: white;
padding: .7rem 1.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
}


* Container styling */ .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.container h2 {
    margin-bottom: 20px;
}

/* Table styling */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.text-end {
    text-align: end;
}